
.idea/
src/main/resources/static/components/

application.properties

.classpath
.project
.settings


/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml
temp/