<div class="container" ng-controller="IndexWorkflowCtrl">

    <h3>workflow:</h3>
    <hr/>


    <div class="col-md-12">
        <div class="col-md-12 text-right"><button class="btn btn-default" ng-click="createWorkflow()">Create New Workflow</button></div>
        <div class="card">
            <div class="card-header">
                Workflow:
            </div>
            <div class="card-block">
                <!--  table part -->
                <table class="table table-striped table-bordered table-hover"
                       st-table="workflowsDisplay" st-safe-src="workflows">
                    <thead>
                    <tr>
                        <th/>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Create Date</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in workflowsDisplay">
                        <td><input name="defaultWorkflow" type="radio"  ng-model="defaultWorkflow" ng-value="{{row.flowId}}"/></td>
                        <td>{{row.name}}</td>
                        <td>{{row.description}}</td>
                        <td>{{row.creationDate}}</td>
                        <td>
                            <button class="btn btn-default" ng-click="editWorkflow(row)">edit</button>
                            <button class="btn btn-default" ng-click="delete(row)">delete</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10"
                                 st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>


</div>