<div ng-controller="SurveyManagerController">
    <div class="container-fluid">
        <!--start of the title-->
        <div class="container">
            <div class="row">
                <div class="col-xs-6 text-left">
                    <h1 class="page_title">SurveyManagerController</h1>
                </div>
                <div class="col-xs-6">
                    <div class="page_right_btn " >
                        <button href="javascript:void(0)" id="survey-create" class="right btn orange-btn " >
                            <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                            <!--<img src="/TPT/img/home/Plus.svg" class="svg_image">-->
                            <span>Create survey</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--end of title-->
        <div class="container">

            <div class="row survey_container">
                <div class="col-md-5 survey_wrapper">
                    <div class="page_box_title survey_wrapperbox">
                        <p>Survey list</p>
                    </div>
                    <div class="custom_tab">
                        <ul class="nav nav-tabs nav-justified" id="survey-list">
                            <!-- <li  class="nav-item">
                      <a href="#a" data-toggle="tab" class="nav-link fs-show active">
                         <span class="col-md-6">Survey 1</span>
                          <span class="col-md-6 text-right">
                              <button class="btn question-button-edit"></button>
                              <button class="btn question-button-delete"></button>
                          </span>
                          <p class="text"> Lorem ipsum dolor sit amet, ut simul consetetur nec. Modo mnesarchum has te, qui id libLorem ipsum dolor sit amet, ut simul consetetur necmelaner... </p>
                      </a>
                  </li>


                  <li class="nav-item">
                      <a href="#b" data-toggle="tab" class="nav-link">
                         <span class="col-md-6">Survey 2</span>
                          <span class="col-md-6 text-right">
                              <button class="btn question-button-edit"></button>
                              <button class="btn question-button-delete"></button>
                          </span>
                          <p class="text"> Lorem ipsum dolor sit amet, ut simul consetetur nec. Modo mnesarchum has te, qui id libLorem ipsum dolor sit amet, ut simul consetetur necmelaner... </p>
                      </a>
              </li>-->
                  <li class="nav-item"><a href="#c" data-toggle="tab" class="nav-link">
                          <span class="col-md-6">Survey 3</span>
                          <span class="col-md-6 text-right">
                              <button class="btn question-button-edit"></button>
                              <button class="btn question-button-delete"></button>
                          </span>
                          <p class="text"> Lorem ipsum dolor sit amet, ut simul consetetur nec. Modo mnesarchum has te, qui id libLorem ipsum dolor sit amet, ut simul consetetur necmelaner... </p>
                      </a>
                  </li>
                        </ul>
                    </div>
                    <div class="custom_tab">
                        <ul class="nav nav-tabs nav-justified" id="survey-list2">
                            <li class="nav-item"><a href="#c" data-toggle="tab" class="nav-link">
                                <span class="col-md-6">Survey 4</span>
                                <span class="col-md-6 text-right">
                              <button class="btn question-button-edit"></button>
                              <button class="btn question-button-delete"></button>
                          </span>
                                <p class="text"> Lorem ipsum dolor sit amet, ut simul consetetur nec. Modo mnesarchum has te, qui id libLorem ipsum dolor sit amet, ut simul consetetur necmelaner... </p>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-7 barcode">
                    <div class="page_box_title">
                        <p>Survey barcode</p>
                    </div>
                    <div class="tab-content">


                        <div class="tab-pane active">
                            <div class="page_box_content dataTables_wrapper">
                                <table class="table table-striped table-hover dataTable no-footer" id="surveyResponseTable" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th> name</th>
                                        <th>Status</th>
                                        <th style="text-align: left">Date</th>
                                    </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>