<div class="container" ng-controller="ScenarioCtrl">

    <h4>Scenario</h4>

    <div class="col-md-12 text-right">
        <button class="btn btn-default" type="button" ng-click="save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="goToScenarioManager()">Back</button>
    </div>

    <div class="col-md-12">


        <div class="form-group">
            <label for="scenarioName">Scenario Name</label>
            <input type="text" class="form-control" id="scenarioName" ng-model="scenario.scenarioName" placeholder="scenario name"/>
        </div>

        <div class="form-group">
            <label for="scenarioCode">Code</label>
            <input type="text" class="form-control" id="scenarioCode" ng-model="scenario.scenarioCode" placeholder="scenario code"/>
        </div>

        <div class="form-group">
            <label for="scenarioContent">Scenario Content</label>
            <textarea class="form-control" id="scenarioContent"  ng-model="scenario.scenarioContent" rows="10"></textarea>
        </div>
    </div>
</div>