<div class="container" ng-controller="ScenarioCtrl">

    <h4>scenario </h4>

    <div class="col-md-12 text-right">
        <button class="btn btn-default" type="button" ng-click="save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="goToScenarioManager()">Back</button>
    </div>

    <div class="col-md-12">


        <div class="form-group">
            <label for="ruleName">Rule Name</label>
            <input type="text" class="form-control" id="ruleName" placeholder="rule name"/>
        </div>

        <div class="form-group">
            <label for="ruleDescription">Description</label>
            <textarea class="form-control" id="ruleDescription" rows="3"></textarea>
        </div>
    </div>
</div>