<div class="container" ng-controller="ScenarioCtrl">

    <h4>Scenario</h4>

    <div class="col-md-12 text-right">
        <button class="btn btn-default" type="button" ng-click="save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="goToScenarioManager()">Back</button>
    </div>

    <div class="col-md-12">


        <div class="form-group">
            <label for="scenarioName">Scenario Name</label>
            <input type="text" class="form-control" id="scenarioName" ng-model="scenario.scenarioName"
                   placeholder="scenario name"/>
        </div>

        <div class="form-group">
            <label for="scenarioCode">Code</label>
            <input type="text" class="form-control" id="scenarioCode" ng-model="scenario.scenarioCode"
                   placeholder="scenario code"/>
        </div>

        <div class="form-group">
            <label for="scenarioContent">Scenario Content</label>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a ng-class="['nav-link',{'active':currentTab=='table'}]" ng-click="currentTab='table'">table</a>
                </li>
                <li class="nav-item">
                    <a ng-class="['nav-link',{'active':currentTab=='script'}]" ng-click="currentTab='script'">script</a>
                </li>
            </ul>

            <div ng-show="currentTab=='table'" class="scenario-table">

                <h3>Condition:</h3>


                <h3>Display:</h3>

                <div class="form-group row" ng-show="checkList.alertName.contain">
                    <label class="col-4 col-form-label">Alert Name</label>
                    <div class="col-8">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text"
                               ng-blur="writeBack()"
                               ng-model="checkList.alertName.value"/>
                    </div>
                </div>

                <div class="form-group row" ng-show="checkList.alertContent.contain">
                    <label class="col-4 col-form-label">Alert Content</label>
                    <div class="col-8">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text"
                               ng-blur="writeBack()"
                               ng-model="checkList.alertContent.value"/>
                    </div>
                </div>

                <div class="form-group row" ng-show="checkList.alertDesc.contain">
                    <label class="col-4 col-form-label">Alert Description</label>
                    <div class="col-8">
                        <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text"
                               ng-blur="writeBack()"
                               ng-model="checkList.alertDesc.value"/>
                    </div>
                </div>

            </div>

            <div ng-show="currentTab=='script'" class="scenario-script">
                <textarea class="form-control" id="scenarioContent" ng-model="scenario.scenarioContent" rows="10">

                </textarea>
            </div>
        </div>
    </div>
</div>