<div class="container" ng-controller="ImportDataCtrl">

    <h4>Import Data:</h4>

    <ul class="nav nav-tabs">
        <li class="nav-item" ng-click="navigate('customer')" ng-model="toggleCustomer">
            <a class="nav-link" ng-class="{true: 'active', false: ''}[toggleCustomer]">Customer</a>
        </li>
        <li class="nav-item" ng-model="toggleAccount" ng-click="navigate('account')">
            <a class="nav-link" ng-class="{true: 'active', false: ''}[toggleAccount]">Account</a>
        </li>
    </ul>

    <!--start of the customer import -->
    <div ng-show="toggleCustomer">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" ng-click="deleteAll('customer')">Delete All(for testing)</button>
            <button type="button" class="btn btn-default" ng-click="refresh('customer')">refresh</button>
        </div>


        <div class="upload">

            <div ngf-drop="uploadFiles($files,'customer')" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-keep="true"
                 ngf-pattern="'.csv'">Drop Customer csv files here</div>

        </div>


        <div class="card">
            <div class="card-header">
                Customer
            </div>
            <div class="card-block">
                <!--  table part -->
                <table class="table table-striped table-bordered table-hover"
                       st-table="customersDisplay" st-safe-src="customers">
                    <thead>
                    <tr>
                        <th>customerId</th>
                        <th>customerCertificateNumber</th>
                        <th>customerFirstName</th>
                        <th>customerMiddleName</th>
                        <th>customerLastName</th>
                        <th>customerFullName</th>
                        <th>customerOpenBranch</th>
                        <th>customerAge</th>
                        <th>customerBirthDate</th>
                        <th>customerCity</th>
                        <th>customerCountry</th>
                        <th>customerOccupation</th>
                        <th>customerPhone1</th>
                        <th>IsPEP</th>
                        <th>IsNonResident</th>
                        <th>IsAMLSuspect</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in customersDisplay">
                        <td>{{row.customerId}}</td>
                        <td>{{row.customerCertificateNumber}}</td>
                        <td>{{row.customerFirstName}}</td>
                        <td>{{row.customerMiddleName}}</td>
                        <td>{{row.customerLastName}}</td>
                        <td>{{row.customerFullName}}</td>
                        <td>{{row.customerOpenBranch}}</td>
                        <td>{{row.customerAge}}</td>
                        <td>{{row.customerBirtdDate}}</td>
                        <td>{{row.customerCity}}</td>
                        <td>{{row.customerCountry}}</td>
                        <td>{{row.customerOccupation}}</td>
                        <td>{{row.customerPhone1}}</td>
                        <td>{{row.pep}}</td>
                        <td>{{row.nonResident}}</td>
                        <td>{{row.amlsuspect}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="16" class="text-center">
                            <div st-pagination="" st-items-by-page="10"
                                 st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--end of customer import  -->

    <!--start of the account import -->
    <div ng-show="toggleAccount">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" ng-click="deleteAll('account')">Delete All(for testing)</button>
            <button type="button" class="btn btn-default" ng-click="refresh('account')">refresh</button>
        </div>


        <div class="upload">

            <div ngf-drop="uploadFiles($files,'account')" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-keep="true"
                 ngf-pattern="'.csv'">Drop Account csv files here</div>

        </div>


        <div class="card">
            <div class="card-header">
                Account
            </div>
            <div class="card-block">
                <!--  table part -->
                <table class="table table-striped table-bordered table-hover"
                       st-table="accountsDisplay" st-safe-src="accounts">
                    <thead>
                    <tr>
                        <th>Account Id</th>
                        <th>Customer Id</th>
                        <th>Account Open Date</th>
                        <th>Account Open Br</th>
                        <th>Account Status</th>
                        <th>Account Close Date</th>
                        <th>Account Amount</th>
                        <th>Last Update Br</th>
                        <th>Last Update Date</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in accountsDisplay">
                        <td>{{row.accountId}}</td>
                        <td>{{row.customerId}}</td>
                        <td>{{row.accountOpenDate | date : 'yyyy-MM-dd'}}</td>
                        <td>{{row.accountOpenBr}}</td>
                        <td>{{row.accountStatus}}</td>
                        <td>{{row.accountCloseDate  | date : 'yyyy-MM-dd'}}</td>
                        <td>{{row.accountAmount}}</td>
                        <td>{{row.lastUpdateBr}}</td>
                        <td>{{row.lastUpdateDate | date : 'yyyy-MM-dd'}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="16" class="text-center">
                            <div st-pagination="" st-items-by-page="10"
                                 st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--end of account import  -->


</div>