<div class="container" ng-controller="RiskCountryCtrl">
    <h3>Risk Countries</h3>
    <!--start of the RiskCountryImport -->
    <div ng-show="toggleRiskCountry">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" ng-click="deleteAll('RiskCountry')">Delete All</button>
            <button type="button" class="btn btn-default" ng-click="refresh()">refresh</button>
        </div>


        <div class="upload">

            <div ngf-drop="uploadFiles($files)" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-keep="true"
                 ngf-pattern="'.csv'">Drop RiskCountry csv files here</div>

        </div>


        <div class="card">
            <div class="card-header">
                RiskCountry
            </div>
            <div class="card-block">
                <!--  table part -->
                <table class="table table-striped table-bordered table-hover"
                       st-table="riskCountryDisplay" st-safe-src="riskCountry">
                    <thead>
                    <tr>
                        <th>Region</th>
                        <th>Risk</th>
                        <th>Name</th>
                        <th>CreatedBy</th>
                        <th>CreationDate</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in riskCountryDisplay track by $index">
                        <td>{{row.region}}</td>
                        <td>{{row.risk}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.createdBy}}</td>
                        <td>{{row.creationDate| date : 'yyyy-MM-dd'}}</td>
                        <td>
                            <button class="btn btn-default" ng-click="edit(row)">Edit</button>
                            <button class="btn btn-default" ng-click="delete(row)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="16" class="text-center">
                            <div st-pagination="" st-items-by-page="10"
                                 st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--end of RiskCountry import  -->



</div>