<div class="container" ng-controller="riskCountryInfoCtrl">
    <h5>RiskCountry List:</h5>
    <hr/>

    <div class="col-md-12 text-right">
        <button class="btn btn-default" type="button" ng-click="save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="goback()">Back</button>
    </div>

    <div class="col-md-12">


        <div class="form-group">
            <label for="region">Region</label>
            <input type="text" class="form-control" id="region" ng-model="riskCountry.region" placeholder="Region" ng-disabled="riskCountry.action"/>
        </div>

        <div class="form-group">
            <label for="risk">Risk</label>
            <input type="text" class="form-control" id="risk" ng-model="riskCountry.risk" placeholder="Risk"/>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="riskCountry.name" placeholder="Name"/>
        </div>

    </div>
</div>