<div class="container" ng-controller="RiskCountryCtrl">
    <h3>Risk Countries</h3>
    <ul class="nav nav-tabs">
        <li class="nav-item" ng-click="navigate('RiskCountry')" ng-model="toggleRiskCountry">
            <a class="nav-link" ng-class="{true: 'active', false: ''}[toggleRiskCountry]">RiskCountry</a>
        </li>
    </ul>
    <!--start of the RiskCountryImport -->
    <div ng-show="toggleRiskCountry">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" ng-click="deleteAll('RiskCountry')">Delete All(for testing)</button>
            <button type="button" class="btn btn-default" ng-click="refresh()">refresh</button>
        </div>


        <div class="upload">

            <div ngf-drop="uploadFiles($files)" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-keep="true"
                 ngf-pattern="'.csv'">Drop RiskCountry csv files here</div>

        </div>


        <div class="card">
            <div class="card-header">
                RiskCountry
            </div>
            <div class="card-block">
                <!--  table part -->
                <table class="table table-striped table-bordered table-hover"
                       st-table="RiskCountryDisplay" st-safe-src="RiskCountry">
                    <thead>
                    <tr>
                        <th>REGION</th>
                        <th>RISK</th>
                        <th>NAME</th>


                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in RiskCountryDisplay">
                        <td>{{row.region}}</td>
                        <td>{{row.risk}}</td>
                        <td>{{row.name}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="16" class="text-center">
                            <div st-pagination="" st-items-by-page="10"
                                 st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--end of RiskCountry import  -->



</div>