<div class="container" ng-controller="RoleInfoCtrl">
    <h5>User List:</h5>
    <hr/>

    <div class="text-center">
        <div class="customer-summary">
            <form class="">
                <div class="table-tr">
                    <label class="label">Role Id</label>
                    <input type="text" class="text-input" placeholder="" disabled="true"></input>
                </div>
                <div>
                    <label class="label">Description</label>
                    <input type="text" class="text-input" placeholder=""></input>
                </div>
<!--access module-->
                <!--<div></div>-->
            </form>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-default" ng-click="reset()">Reset</button>
            <button class="btn btn-default" ng-click="save()">Save</button>
            <button class="btn btn-default" ng-click="delete()">Delete</button>
        </div>
        <div class="sepeartor"></div>
    </div>
</div>