<div class="container" ng-controller="UserManagementInfoCtrl">
    <h5>User List:</h5>
    <hr/>

    <div class="col-md-12 text-right">
        <button class="btn btn-default" type="button" ng-disabled="{'edit':false,'add':true}[user.action]" ng-click="changePwd(user)">Change Password</button>
        <button class="btn btn-default" type="button" ng-click="save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="gotoUserList()">Back</button>
    </div>

    <div class="col-md-12">


        <div class="form-group">
            <label for="userId">User Id</label>
            <input type="text" class="form-control" id="userId" ng-model="user.id" placeholder="" ng-disabled="{'edit':true,'add':true}[user.action]"/>
        </div>

        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName" ng-model="user.userName" placeholder="user name"/>
        </div>

        <!--ng-repeat-->
        <div class="form-group">
            <label >Roles</label>
            <div >
                <label class="form-check-label" ng-repeat="group in user.groups">
                    <span>

                    </span>

                    <input class="form-check-input" type="checkbox" ng-checked="group.isChecked"  ng-model="group.isChecked" ></input>
                    {{group.groupName}}
                </label>

            </div>

        </div>

    </div>
</div>
<!--dialog-->
<script type="text/ng-template" id="changePwd">
    <!--modal-->
    <div class="container">
        <form>
            <div class="form-group row">
                <label for="existUserId" class="col-sm-4 form-control-label">User Id</label>
                <div class="col-sm-7">
                    <input type="text" ng-model="user.id" class="form-control" id="existUserId" disabled="true" />
                </div>
                <label for="newPwd" class="col-sm-4 form-control-label">Enter New Password</label>
                <div class="col-sm-7">
                    <input type="password" ng-model="newPwd" class="form-control" id="newPwd" placeholder="New Password" />
                </div>
                <label for="confirmPwd" class="col-sm-4 form-control-label">Confirm New Password</label>
                <div class="col-sm-7">
                    <input type="password" ng-model="confirmPwd" class="form-control" id="confirmPwd" placeholder=""/>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="savePwd()">Save changes</button>
    </div>


</script>