<div class="container" ng-controller="UserManagementCtrl">

    <h5>User List:</h5>
    <hr/>

    <div class="text-center">
        <div class="customer-summary">
            <form class="">
                <div class="table-tr">
                    <label class="label">User Id</label>
                    <input type="text" class="text-input" placeholder="" ng-model="user.search.userId"></input>
                    <label class="label">User Name</label>
                    <input type="text" class="text-input" placeholder="" ng-model="user.search.userName"></input>
                    <label class="label">Group Id</label>
                    <input type="text" class="text-input" placeholder="" ng-model="user.search.groupId"></input>
                </div>

            </form>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-default" ng-click="reset()">Reset</button>
            <button class="btn btn-default" ng-click="search()">Search</button>
        </div>
        <div class="sepeartor"></div>
    </div>
    <div class="col-md-12 text-left">
        <button class="btn btn-default" ng-click="addUser()">Add User</button>
    </div>
    <!--  table part -->
    <table class="table table-striped table-bordered table-hover"
           st-table="displayedData" st-safe-src="users">
        <thead>
        <tr>
            <th st-sort="userId">User Id</th>
            <th st-sort="userName">User Name</th>
            <th st-sort="desc">Desc</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- ng-repeat="row in dataDisplay"-->
        <tr ng-repeat="row in displayedData track by $index ">
            <td>{{row.id}}</td>
            <td>{{row.userName}}</td>
            <td>{{row.desc}}</td>
            <td><button class="btn btn-default" ng-click="edit(row)">Edit</button>
                <button class="btn btn-default" ng-click="delete(row.id)">Delete</button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage"
                     st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>

    </table>

    <!--end of title -->

    <!-- total-->

</div>