<div class="container" ng-controller="watchListInfoCtrl">
    <h5>WatchList List:</h5>
    <hr/>

    <div class="col-md-12 text-right">
        <button class="btn btn-default" type="button" ng-click="save()">Save</button>
        <button class="btn btn-default" type="button" ng-click="goback()">Back</button>
    </div>

    <div class="col-md-12">


        <div class="form-group">
            <label for="watchList">WatchList</label>
            <input type="text" class="form-control" id="watchList" ng-model="watchList.watchList" placeholder="WatchList"/>
        </div>


    </div>
</div>
