/*.content-body {*/
    /*border: 1px solid #999999;*/
    /*position: relative;*/
    /*margin: 0 50px 50px ;*/
    /*width: auto;*/
/*}*/
.container {
    /*margin: 20px 0;*/
    font-size: 14px;
    margin-bottom: 20px;
    /*width: auto;*/
}
.container .pagination{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* padding-left: 0; */
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}
.container .table th {
    white-space: nowrap;
}
.container .table th.st-sort-ascent::before{
    content: "\25B2";
}
.container .table th.st-sort-descent::before{
    content: "\25BC";
}
.container .table td.description,
.container .table th.description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    border: none;
    max-width: 250px;
}
.container .table td.td-date{
    white-space: nowrap;
}
.container .span-title {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}
.container .text {
    font-family: arial;
    font-size:14px;
    font-weight:normal;
}
.container .block {
    margin-bottom: 20px;
}
/*.container .dropdown-toggle.triangle-down{*/
    /*mask-size: cover;*/
    /*-webkit-mask-size: cover;*/
    /*background-color: #666666;*/
    /*position: relative;*/
/*}*/

.container .block .sub-block{
    padding-left: 20px;
}
.container .customer-summary .table-tr{
    display: table-row;
    width: 90%;
    height: 30px;
}

.container .customer-summary .table-tr .label{
    display: table-cell;
    width: 16%;
}
.container .customer-summary .table-tr .text-input{
    display: table-cell;
    width: 160px;
}
.container .detail-table{
    width: 100%;
    height: 18.75rem;
    overflow: auto;
    font-family: arial;
    font-size: 12px;

}
.container .detail-table .detail-table-head {
    background-color: #999999;
    height: auto;
    line-height:2.25rem;
}
.container .detail-table .detail-table-head th{
    white-space: nowrap;
}
.container .sepeartor{
    height: 1.25rem;
    width: auto;
}
.container .comment {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    clear: both;
}
.container .comment .label-comment {
    padding-left: 1.25rem;
    position: relative;
}
.container .comment .suspicious {
    padding-right: 1.25rem;
    position: relative;
}
.container .text-area {
    width: 100%;
    position: relative;
    padding: 0.75rem;
    border: 0.0625rem solid #eceeef;

}
.row {
    padding: 0.652rem 0;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.display-block {
    display: inline-block;
}
.container .dropdown .dropdown-small {
    width: 7.5rem;

}
.container i {
    cursor: pointer;

}
.container .form-check-input.custom-size{
    width: 16px;
    height: 16px;
    margin: 0;
}