/***
 main css setting
 */
body {
    font-family: Arial, sans-serif;
}

/****
end of main
 */

/**
begin of login page
 */
.logo {
    width: 213px;
    height: 36px;
    background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
    margin: 30px auto;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

/***
end of login page
 */

/***
begin of footer
 */
.footer {
    background: #404041;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3px;
}

/****
end of footer
 */

/****
start of header
 */
header {
    min-height: 50px;
    margin-bottom: 20px;
}

header .navbar {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

header .dropdown-menu {
    margin-top: 10px;
    border-top-width: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

header .navbar-brand img {
    margin-right: 20px;
    margin-left: 20px;
}

header .navbar-nav .nav-item{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

header .navbar-nav .active{
    border-bottom-color: #000000;
}

/***
end of header
 */