<div class="container" ng-controller="DashboardCtrl">

    <h3>Dashboard:</h3>
    <hr/>


    <div class="col-md-12">

        <div class="text-center">
            ---- here is some search condition ----
        </div>

        <div class="row">
            <h4> Alert:</h4>
        </div>
        <div class="row">
            <div class="card col-md-4">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
                <div class="card-block">
                    <p class="card-text">Alert Trends</p>
                </div>
            </div>

            <div class="card col-md-4">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
                <div class="card-block">
                    <p class="card-text"> Alert in Different year</p>
                </div>
            </div>

            <div class="card col-md-4">
                <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="data3" chart-labels="labels3">
                </canvas>
                <div class="card-block">
                    <p class="card-text">Alert Score</p>
                </div>
            </div>


        </div>
        <div class="row">
            <h4>Case:</h4>
        </div>

        <div class="row">
            <div class="card col-md-4">
                <canvas id="radar" class="chart chart-radar"
                        chart-data="data4" chart-options="options" chart-labels="labels4">
                </canvas>
                <div class="card-block">
                    <p class="card-text">Case Pie</p>
                </div>
            </div>

            <div class="card col-md-4">
                <canvas id="polar-area" class="chart chart-polar-area"
                        chart-data="data5" chart-labels="labels5" chart-options="options">
                </canvas>
                <div class="card-block">
                    <p class="card-text">Case chart</p>
                </div>
            </div>

            <div class="card col-md-4">
                <canvas id="base" class="chart-bubble" chart-data="data6"
                        chart-series="series6" >
                </canvas>
                <div class="card-block">
                    <p class="card-text">Case chart</p>
                </div>
            </div>
        </div>

    </div>

</div>