<div class="container dashboard" ng-controller="DashboardCtrl">

    <h3>Dashboard</h3>
    <hr/>


    <div class="col-md-12">

        <div class="col-md-12 text-center">
            <div class="col-md-4 chart-content">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item" ng-click="navigate('day')" >
                        <a class="nav-link" ng-class="{'active':currentTab=='day'}">1 Day</a>
                    </li>
                    <li class="nav-item" ng-click="navigate('week')">
                        <a class="nav-link" ng-class="{'active':currentTab=='week'}">1 Week</a>
                    </li>
                    <li class="nav-item" ng-click="navigate('month')">
                        <a class="nav-link" ng-class="{'active':currentTab=='month'}">1 Month</a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="row">
            <div ng-repeat="item in dashboard" class="col-md-4 chart-content">
                <div  class="card ">
                    <canvas  class="chart chart-doughnut"
                             chart-data="item.data" chart-options="chartOption" chart-labels="item.label">
                    </canvas>
                    <div class="card-block">
                        <p class="card-text">Alerts in {{item.pointName}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>