<div class="container" ng-controller="DocumentCtrl">
    <h3>Document:</h3>
    <hr/>

    <form name="form">
        <fieldset class="block">
            <legend></legend>
            <div class="span-title">Single File Upload</div>
            <div>
                <span class="sub-block text">Choose Your File(Only PDF):    </span>
                <input type="file" ngf-select='' ng-model="file" name="file" ngf-pattern="'.pdf'"
                       ngf-accept="'.pdf'" ngf-max-size="20MB" ngf-min-height="100"
                       />
                <i ng-show="myForm.file.$error.required" class=""></i>
                <button class="btn btn-default" ng-click="submit()" >Submit</button>
            </div>

            <div class="progress ng-hide" ng-show="file.progress >= 0">
              <div class="progress-bar progress-bar-striped" role="progressbar"
                   style="width: {{file.progress}}%" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" ng-bind="file.progress + '%'">%</div>
            </div>
            <span ng-show="file.result" class="ng-hide">Upload Successful</span>
        </fieldset>
        <hr/>
        <!--multiple files upload-->
        <fieldset class="block ng-hide">
            <legend></legend>
            <div class="span-title">Multiple Files Upload</div>
            <div>
                <span class="sub-block text">Choose Your Files(Only PDF):    </span>
                <input type="file" ngf-select='' ng-model="files" name="files" ngf-pattern="'.pdf'"
                       ngf-accept="'.pdf'" ngf-max-size="20MB" ngf-min-height="100"
                       ngf-multiple="true"/>
                <i ng-show="myForm.file.$error.required" class=""></i>
                <button class="btn btn-default" ng-click="submit()" >Submit</button>
            </div>
            <div class="sub-block" ng-repeat="file in files">
                <div>{{file.name}}</div>
            </div>

            <div class="progress ng-hide" ng-show="file.progress >= 0">
                <div class="progress-bar progress-bar-striped" role="progressbar"
                     style="width: {{file.progress}}%" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" ng-bind="file.progress + '%'">%</div>
            </div>
            <span ng-show="file.result" class="ng-hide">Upload Successful</span>
        </fieldset>
    </form>
    <!--download-->
    <button  ng-click="confirm()" >Download ?</button>
    <div ng-repeat="file in dataFiles">
        <!--<div><a href="javascript:download(file.path)" ng-click="download(file.path)" target="_blank">{{file.name}}</a></div>-->
        <div type="button" ng-click="download(file.name)"><i class="fa fa-download">{{file.name}}</i></div>
    </div>

</div>