<header ng-controller="HeaderCtrl">
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/img/PwC_Logo.svg" width="48" height="32" class="d-inline-block align-top" alt=""/>
            PwC Anti-Fraud
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">


                <li ng-repeat="(key, value) in menu" class="nav-item">
                    <a ng-if="hasChildren(value)" class="nav-link dropdown-toggle" id="navbar_{{key}}_link"
                       ng-href="{{value.menuURL}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{value.menuName}}

                    </a>
                    <div ng-if="hasChildren(value)" class="dropdown-menu" aria-labelledby="navbar_{{key}}_link">
                        <a class="dropdown-item" ng-repeat="(k,v) in value.childList" ng-href="{{v.menuURL}}">{{v.menuName}}</a>
                    </div>

                    <a ng-if="!hasChildren(value)" class="nav-link" id="navbar_{{key}}_link" ng-href="{{value.menuURL}}">{{value.menuName}}

                    </a>
                </li>
            </ul>
            <div class="navbar-text">
                <span class="header-userName">{{user.userName}}</span>
                <span>|</span>
                <span class="header-logout" ng-click="logout()">Logout</span>
            </div>
        </div>
    </nav>
</header>