<header ng-controller="HeaderCtrl">
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/img/PwC_Logo.svg" width="48" height="32" class="d-inline-block align-top" alt=""/>
            PwC Anti-Fraud
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">


                <li ng-repeat="(key, value) in menu" class="nav-item" >
                    <a ng-if="value.children" class="nav-link dropdown-toggle" id="navbar_{{key}}_link" ng-href="{{value.url}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{value.name}}

                    </a>
                    <div ng-if="value.children"  class="dropdown-menu" aria-labelledby="navbar_{{key}}_link">
                        <a class="dropdown-item" ng-repeat="(k,v) in value.children" ng-href="{{v.url}}">{{v.name}}</a>
                    </div>

                    <a ng-if="!value.children" class="nav-link" id="navbar_{{key}}_link" ng-href="{{value.url}}">{{value.name}}

                    </a>
                </li>
            </ul>
            <div class="navbar-text">
                {{user.name}} | logout
            </div>
        </div>
    </nav>
</header>