<!doctype html>
<html>
<head>
    <title>AML</title>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="/components/normalize-css/normalize.css"></link>
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css"></link>
    <script src="/components/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css"></link>
    <link rel="stylesheet" href="/components/tether/dist/css/tether.css"></link>
    <script src="/components/tether/dist/js/tether.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular.uuid2/dist/angular-uuid2.js"></script>
    <script src="/components/angular-animate/angular-animate.min.js"></script>
    <script src="/components/angular-cookies/angular-cookies.js"></script>
    <script src="/components/chart.js/dist/Chart.js"></script>
    <script src="/components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/components/mockjs/dist/mock-min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/style.css"></link>
    <link rel="stylesheet" href="/css/pagestyle.css"></link>
    <link rel="stylesheet" href="/components/angular-ui-router-anim-in-out/css/anim-in-out.css"></link>
    <script src="/components/angular-ui-router-anim-in-out/anim-in-out.js"></script>


    <!--document and file support -->
    <script src="/components/ng-file-upload/ng-file-upload-all.js"></script>
    <!-- -->

    <!-- start of workflow support-->
    <script src="/components/draw2d/dist/shifty.js"></script>
    <script src="/components/draw2d/dist/patched_raphael.js"></script>
    <script src="/components/draw2d/dist/jquery.autoresize.js"></script>
    <script src="/components/draw2d/dist/jquery-touch_punch.js"></script>
    <script src="/components/draw2d/dist/jquery.contextmenu.js"></script>
    <script src="/components/draw2d/dist/rgbcolor.js"></script>
    <script src="/components/draw2d/dist/patched_canvg.js"></script>
    <script src="/components/draw2d/dist/patched_Class.js"></script>
    <script src="/components/draw2d/dist/json2.js"></script>
    <script src="/components/draw2d/dist/pathfinding-browser.min.js"></script>
    <script src="/components/draw2d/dist/draw2d.js"></script>
    <!-- end of workflow support-->

    <script src="/js/index.js"></script>
    <script src="/js/dashboardModule.js"></script>
    <script src="/js/authModule.js"></script>
    <script src="/js/alertModule.js"></script>


    <!-- start of workflow-->

    <script src="/js/workflow/controllers/index.js"></script>
    <script src="/js/workflow/scripts/override_draw2d.js"></script>
    <script src="/js/workflow/scripts/workflow.js"></script>
    <script src="/js/workflow/services/draw2dService.js"></script>
    <script src="/js/workflow/controllers/workflow.js"></script>

    <!--end of workflow -->

    <script src="/js/batchModel.js"></script>
    <script src="/js/document.js"></script>
	<script src="/js/fake.js"></script>



</head>
<body ng-app="AMLapp">

<div ui-view="header" class="anim-in-out anim-fade" data-anim-speed="500"></div>
<div ui-view="content" class="anim-in-out anim-fade" data-anim-speed="500"></div>
<div ui-view="footer" class="anim-in-out anim-fade" data-anim-speed="500"></div>


</body>
</html>