<div ng-controller="LoginCtrl">
    <div class="login-outer">
        <div class="wrapper">
            <form class="login">
                <p class="title">Log in</p>
                <input id="userName" type="text" placeholder="Username" autofocus="true" ng-model="user.userName"/>
                <i class="fa fa-user"></i>
                <input type="password" placeholder="Password" ng-model="user.userPwd" />
                <i class="fa fa-key"></i>
                <button ng-click="doLogin()">
                    <span class="state">Log in</span>
                </button>
            </form>
        </div>
    </div>

</div>