
<div class="container" ng-controller="MyAlertInfoCtrl">
    <h5>Available Alerts Info:</h5>
    <hr/>


    <div class="card">
        <div class="card-block customer-summary">
            <h4 class="card-title">Customer Summary</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label  class="col-4 col-form-label">Alert ID</label>
                        <div class="col-8">
                            <input class="form-control" type="text" ng-model="alerts.alertId" ></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label  class="col-4 col-form-label">Alert Date</label>
                        <div class="col-8">
                            <input class="form-control" type="text" ng-model="alerts.createdDate"></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label  class="col-4 col-form-label">Customer ID</label>
                        <div class="col-8">
                            <input class="form-control" type="text" ng-model="customer.customerId" ></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label  class="col-4 col-form-label">Customer Name</label>
                        <div class="col-8">
                            <input class="form-control" type="text" ng-model="customer.customerFullName"></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label  class="col-4 col-form-label">Customer Type</label>
                        <div class="col-8">
                            <input class="form-control" type="text" ng-model="customer.customerType"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-block customer-information">
            <h4 class="card-title">Customer Information</h4>
            <div class="customer-information-individual">
                <h6 class="card-subtitle mb-2 text-muted">Individual</h6>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Date of Birth</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerBirthDate" ></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">ID</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerCertificateNumber"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Occupation</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerOccupation"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">City</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerCity" ></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Country</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerCountry"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Phone</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerPhone1"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Is PEP</label>
                            <div class="col-8">
                                <label><input type="radio" name="IsPEP" ng-model="customer.IsPEP" value="true"></input>Yes</label>
                                <label><input type="radio" name="IsPEP" ng-model="customer.IsPEP" value="false"></input> No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Is Non Resident</label>
                            <div class="col-8">
                                <label><input type="radio" name="IsNonResident" ng-model="customer.IsNonResident" ng-value="true"></input>Yes</label>
                               <label><input type="radio" name="IsNonResident" ng-model="customer.IsNonResident" ng-value="false"></input>No</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Is AML Suspect</label>
                            <div class="col-8">
                                <label><input type="radio" name="IsAMLSuspect" ng-model="customer.IsAMLSuspect" ng-value="true"></input> Yes</label>
                                <label><input type="radio" name="IsAMLSuspect" ng-model="customer.IsAMLSuspect" ng-value="false"></input> No</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="customer-information-corporate">
                <h6 class="card-subtitle mb-2 text-muted">Corporate</h6>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Registration Num</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerCertificateNumberCorporate" ></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Line of Business</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.custlineOfBusiness"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Phone</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerPhone1"></input>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">City</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerCity" ></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Country</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.customerCountry"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Is AML Suspect</label>
                            <div class="col-8">
                                <input class="form-control" type="text" ng-model="customer.IsAMLSuspectCorporate"></input>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h6 class="card-subtitle mb-2 text-muted">Legal Representative</h6>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label  class="col-4 col-form-label">Date of Birth</label>
                                <div class="col-8">
                                    <input class="form-control" type="text" ng-model="customer.customerBirthDate" ></input>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label  class="col-4 col-form-label">ID</label>
                                <div class="col-8">
                                    <input class="form-control" type="text" ng-model="customer.representativeId"></input>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label  class="col-4 col-form-label">Is AML Suspect</label>
                                <div class="col-8">
                                    <input class="form-control" type="text" ng-model="customer.IsAMLSuspectCorporate"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="col-md-12 file-list-area">

    </div>

    <fieldset class="block">
        <div>
            <i class="fa fa-caret-down" ng-click="toggleBlock('customerSummary')"></i>
            <span class="span-title">Customer Summary</span>
            <div class="customer-summary" ng-hide="summaryAction">
                <div class="table-tr">
                    <label class="label" for="alertid">Alert ID</label>
                    <input class="text-input" id="alertid" type="text" ng-disabled="true" ng-model="alerts.alertId"></input>
                    <label class="label" for="alertdate">Alert Date</label>
                    <input class="text-input" id="alertdate" type="text" colspan="2" ng-disabled="true" ng-model="alerts.createdDate"></input>
                </div>
                <div class="table-tr">
                    <label class="label" for="customerid">Customer ID</label>
                    <input class="text-input" id="customerid" type="text" ng-disabled="true" value="{{summary.customerId}}"></input>
                    <label class="label" for="customername">Customer Name</label>
                    <input class="text-input" id="customername" type="text" ng-disabled="true" value="{{summary.custName}}"></input>
                    <label class="label" for="customertype">Customer Type</label>
                    <input class="text-input" id="customertype" type="text" ng-disabled="true" value="{{summary.customerType}}"></input>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="block">
        <div>
            <i class="fa fa-caret-down" ng-click="toggleBlock('customerInfo')"></i>
            <span class="span-title">Customer Information</span>
        </div>
        <div ng-hide="customerAction">
            <div class="sub-block" >
                <i class="fa fa-caret-down" ng-click="toggleBlock('individual')"></i>
                <span class="span-title">Individual</span>
                <div class="customer-summary" ng-hide="individualAction">
                    <div class="table-tr">
                        <label class="label" for="individualBirthdate">Date of Birth</label>
                        <input class="text-input" id="individualBirthdate" type="text" ng-disabled="true" value="{{individual.brithdate}}"></input>
                        <label class="label" for="individualId">ID</label>
                        <input class="text-input" id="individualId" type="text" ng-disabled="true" value="{{individual.ID}}"></input>
                        <label class="label" for="individualOccupation">Occupation</label>
                        <input class="text-input" id="individualOccupation" type="text" ng-disabled="true" value="{{individual.occupation}}"></input>
                    </div>
                    <div class="table-tr">
                        <label class="label" for="individualCity">City</label>
                        <input class="text-input" id="individualCity" type="text" ng-disabled="true" vlaue="{{individual.city}}"></input>
                        <label class="label" for="individualCountry">Country</label>
                        <input class="text-input" id="individualCountry" type="text" ng-disabled="true" value="{{individual.country}}"></input>
                        <label class="label" for="individualPhone">Phone</label>
                        <input class="text-input" id="individualPhone" type="text" ng-disabled="true" value="{{individual.phone}}"></input>
                    </div>
                    <div class="table-tr">
                        <label class="label" for="individualPEP">Is PEP</label>
                        <input class="text-input" id="individualPEP" type="text" ng-disabled="true" value="{{individual.isPEP}}"></input>
                        <label class="label" for="individualNonResident">Is Non Resident</label>
                        <input class="text-input" id="individualNonResident" type="text" ng-disabled="true" value="{{individual.isNonResident}}"></input>
                        <label class="label" for="individualAMLSuspect">Is AML Suspect</label>
                        <input class="text-input" id="individualAMLSuspect" type="text" ng-disabled="true" vlaue="{{individual.isAMLSuspect}}"></input>
                    </div>
                </div>
            </div>

            <div class="sub-block">
                <i class="fa fa-caret-down" ng-click="toggleBlock('corporate')"></i>
                <span class="span-title">Corporate</span>
                <div class="customer-summary" ng-hide="corporateAction">
                    <div class="table-tr">
                        <label class="label" for="corporateRegNumber">Registration Number</label>
                        <input class="text-input" id="corporateRegNumber" type="text" ng-disabled="true" value="{{corporate.registrationNo}}"></input>
                        <label class="label" for="corporateLineBusiness">Line of Business</label>
                        <input class="text-input" id="corporateLineBusiness" type="text" ng-disabled="true" value="{{corporate.lineOfBusiness}}"></input>
                        <label class="label" for="corporatePhone">Phone</label>
                        <input class="text-input" id="corporatePhone" type="text" ng-disabled="true" value="{{corporate.phone}}"></input>
                    </div>
                    <div class="table-tr">
                        <label class="label" for="corporateLocation">Location</label>
                        <input class="text-input" id="corporateLocation" type="text" ng-disabled="true" value="{{corporate.location}}"></input>
                        <label class="label" for="corporateCountry">Country</label>
                        <input class="text-input" id="corporateCountry" type="text" ng-disabled="true" value="{{corporate.country}}"></input>
                        <label class="label" for="corporateAMLSuspect">Is AML Suspect</label>
                        <input class="text-input" id="corporateAMLSuspect" type="text" ng-disabled="true" value="{{corporate.isAMLSuspect}}"></input>
                    </div>
                </div>
            </div>

            <div class="sub-block">
                <i class="fa fa-caret-down" ng-click="toggleBlock('legalReps')"></i>
                <span class="span-title">Legal Representative</span>
                <div class="customer-summary" ng-hide="legalRepsAction">
                    <div class="table-tr">
                        <label class="label" for="legalBirthdate">Date of Birth</label>
                        <input class="text-input" id="legalBirthdate" type="text" ng-disabled="true" value="{{legalRepresentative.dateofbith}}"></input>
                        <label class="label" for="legalId">ID</label>
                        <input class="text-input" id="legalId" type="text" ng-disabled="true" value="{{legalRepresentative.ID}}"></input>
                        <label class="label" for="legalOccupation">Occupation</label>
                        <input class="text-input" id="legalOccupation" type="text" ng-disabled="true" value="{{legalRepresentative.occupation}}"></input>
                    </div>
                    <div class="table-tr">
                        <label class="label" for="legalCity">City</label>
                        <input class="text-input" id="legalCity" type="text" ng-disabled="true" value="{{legalRepresentative.city}}"></input>
                        <label class="label" for="legalCountry">Country</label>
                        <input class="text-input" id="legalCountry" type="text" ng-disabled="true" value="{{legalRepresentative.country}}"></input>
                        <label class="label" for="legalPhone">Phone</label>
                        <input class="text-input" id="legalPhone" type="text" ng-disabled="true" value="{{legalRepresentative.phone}}"></input>
                    </div>
                    <div class="table-tr">
                        <label class="label" for="legalPEP">Is PEP</label>
                        <input class="text-input" id="legalPEP" type="text" ng-disabled="true" value="{{legalRepresentative.isPEP}}"></input>
                        <label class="label" for="legalNonResident">Is Non Resident</label>
                        <input class="text-input" id="legalNonResident" type="text" ng-disabled="true" value="{{legalRepresentative.isNonResident}}"></input>
                        <label class="label" for="legalAMLSuspect">Is AML Suspect</label>
                        <input class="text-input" id="legalAMLSuspect" type="text" ng-disabled="true" vlaue="{{legalRepresentative.isAMLSuspect}}"></input>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
    <div class="detail-table">
        <table class="table table-striped table-bordered table-hover" st-table="dataDisplay" st-safe-src="data">
            <thead>
            <tr class="detail-table-head">
                <th>Transaction Date</th>
                <th>Account Type</th>
                <th>Account Number</th>
                <th>Currency</th>
                <th>Transaction Amount</th>
                <th>Transaction Type</th>
                <th>Fund Receive/Pay</th>
                <th>Transaction Purpose</th>
                <th>Account Open Date</th>
                <th>Account Close Date</th>
                <th>Counterparty</th>
                <th>Counterbank</th>
                <th>Counterbank's Location</th>
                <th>Representative</th>
                <th>Representative ID Number</th>
                <th>Representative ID Type</th>
            </tr>
            </thead>
            <tbody>
            <!-- ng-repeat="row in dataDisplay"-->
            <tr ng-repeat="row in dataDisplay">
                <td>{{row.transactionDate}}</td>
                <td>{{row.accountType}}</td>
                <td>{{row.accountNum}}</td>
                <td>{{row.currency}}</td>
                <td>{{row.transactionAmount}}</td>
                <td>{{row.TransactionType}}</td>
                <td>{{row.fundReceivePay}}</td>
                <td>{{row.transactionPurpose}}</td>
                <td>{{row.accountOpenDate}}</td>
                <td>{{row.accountCloseDate}}</td>
                <td>{{row.Counterparty}}</td>
                <td>{{row.counterbank}}</td>
                <td>{{row.counterBankLocation}}</td>
                <td>{{row.representative}}</td>
                <td>{{row.representativeId}}</td>
                <td>{{row.representativeType}}</td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <td colspan="15" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="4"></div>

                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="sepeartor"></div>
    <div>
        <span class="text">total: $10000.00</span>
    </div>
    <div class="sepeartor"></div>

    <div class="upload">

        <div ngf-drop="uploadFiles($files)" class="drop-box"
             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-keep="true"
             ngf-pattern="'.*'">Upload File Here</div>

    </div>

    <div class="comment">
        <label class="text row pull-left label-comment">Comment:</label>
        <span class="pull-right">
            <label class="text row display-block suspicious">Suspicious</label>
            <span class="dropdown dropdown-smalldisplay-block">
                <button class="btn btn-default dropdown-toggle text" type="button" id="dropdownMenu1" data-toggle="dropdown" ng-disabled="true">Not suspicious</button>
                <i class="appkiticon icon-fill-down-chevron" data-toggle="dropdown"></i>
            </span>
        </span>


        <textarea id="inputComment" class="text-area text" rows="5" placeholder="comments detail"></textarea>
    </div>
    <div class="sepeartor"></div>
    <div class="col-md-12 text-right">
        <button class="btn btn-primary" ng-click="returnToQc()">Return</button>
        <button class="btn btn-primary" ng-click="escalate()">Escalate</button>
        <button class="btn btn-primary" ng-click="close()">Close</button>
        <button class="btn btn-primary">Report to Authority</button>
        <button class="btn btn-primary">Suppress</button>
    </div>

</div>