<div class="container" ng-controller="AvailableAlertCtrl">
    <h5>Available Alerts:</h5>
    <hr/>

    <!--  table part -->
    <table class="table table-striped table-bordered table-hover"
           st-table="dataDisplay" st-safe-src="data">
        <thead>
        <tr>
            <th class="text-center"><input class="form-check-input custom-size" type="checkbox" ng-model="checkAll" ng-click="all()"></input></th>
            <th st-sort="alertId">Alert ID</th>
            <th st-sort="custName">Cust Name</th>
            <th st-sort="createDate">Creat Date</th>
            <th st-sort="scenario">Scenario</th>
            <th st-sort="description" class="description">Description</th>
            <th st-sort="triggeringValues">Triggering Values (USD)</th>
            <th st-sort="days">Days</th>
        </tr>
        </thead>
        <tbody>
        <!-- ng-repeat="row in dataDisplay"-->
        <tr ng-repeat="row in dataDisplay track by $index">
            <td class="text-center">
                <input class="form-check-input custom-size" type="checkbox" ng-checked="checkAll" ng-model="$parent.conf[$index]"
                       ng-click="select($event,row,$index)"/>
            </td>
            <td><a ui-sref="availableAlertInfo(row.workObjId)">{{row.alerts.alertId}}</a></td>
            <td>{{row.alerts.customerName}}</td>
            <td class="td-date">{{row.alerts.createdDate}}</td>
            <td>{{row.alerts.scenarioId}}</td>
            <td class="description">{{row.alerts.alertDesc}}</td>
            <td>{{row.alerts.totalAmt|currency}}</td>
            <td>{{row.alerts.days}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>

    </table>

    <!--end of title -->

    <!-- total-->

    <div class="col-md-12">
        <lable>Total Amount:</lable>
        <span>{{getTotal() | currency}}</span>
    </div>

    <div class="col-md-12 text-right">
        <button class="btn btn-primary" ng-click="clearSelect()">Clear Selected</button>
        <button class="btn btn-primary" ng-click="assignToMe()">Assign to Me</button>
    </div>

</div>