<div class="container" ng-controller="ClosedAlertCtrl">
    <h5>Closed Alert:</h5>
    <hr/>

    <div class="text-center">
        <div class="customer-summary">
            <form class="">
                <div class="table-tr">

                    <label class="label">Customer ID</label>
                    <input type="text" class="text-input" placeholder="" ng-model="alertSearch.customerId" />

                    <label class="label">Alert Create Date</label>
                    <input type="text" class="text-input" placeholder="" ng-model="alertSearch.alertCreateDate" />
                </div>

                <div class="table-tr">
                    <label class="label">Customer Name</label>
                    <input type="text" class="text-input" placeholder="" ng-model="alertSearch.customerName" />

                    <label class="label">Alert Close Date</label>
                    <input type="text" class="text-input" placeholder="" ng-model="alertSearch.alertCloseDate" />
                </div>


                <div class="table-tr">
                    <label class="label">Alert ID</label>
                    <input type="text" class="text-input" placeholder="" ng-model="alertSearch.alertId" />

                    <label class="label">Suspicious Level</label>
                    <input type="text" class="text-input" placeholder="" />

                </div>

                <div class="table-tr">
                    <label class="label">Total Amount(More Than)</label>
                    <input type="text" class="text-input" placeholder="" ng-model="alertSearch.totalAmount" />

                    <label class="label">Alert Closed By</label>
                    <input type="text" class="text-input" placeholder="" ng-model="alertSearch.colsedBy" />
                </div>

            </form>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-default" ng-click="reset()">Reset</button>
            <button class="btn btn-default" ng-click="searchClosedAlert()">Search</button>
        </div>
        <div class="sepeartor"></div>
    </div>
    <!--  table part -->
    <table class="table table-striped table-bordered table-hover"
           st-table="displayedData" st-safe-src="data">
        <thead>
        <tr>
            <th st-sort="alertId">Alert ID</th>
            <th st-sort="custName">Customer Name</th>
            <th st-sort="createDate">Create Date</th>
            <th st-sort="scenario">Scenario</th>
            <th st-sort="description" class="description">Description</th>
            <th st-sort="triggeringValues">Triggering Values (USD)</th>
        </tr>
        </thead>
        <tbody>
        <!-- ng-repeat="row in dataDisplay"-->
        <tr ng-repeat="row in displayedData track by $index ">
            <td><a ui-sref="alertInfo({id:'{{row.workObjId}}'})">{{row.alerts.alertId}}</a></td>
            <td>{{row.alerts.customerName}}</td>
            <td class="td-date">{{row.alerts.createdDate}}</td>
            <td>{{row.alerts.scenarioId}}</td>
            <td class="description">{{row.alerts.alertDesc}}</td>
            <td>{{row.alerts.totalAmt|currency}}</td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage"
                     st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>

    </table>

    <!--end of title -->

    <!-- total-->

    <div class="col-md-12">
        <lable>total:</lable>
        <span>10000.00</span>
    </div>

    <div class="col-md-12 text-right">
        <button class="btn btn-primary" ng-click="export()">Export</button>
    </div>

</div>