<div class="container" ng-controller="MyAlertCtrl">

    <h5>My Alerts:</h5>
    <hr/>

    <!--  table part -->
    <table class="table table-striped table-bordered table-hover"
           st-table="myAlertDataDisplay" st-safe-src="myAlertData">
        <thead>
        <tr>
            <th>Select</th>
            <th st-sort="alertId">Alert ID</th>
            <th st-sort="custName">Cust Name</th>
            <th st-sort="createDate">Creat Date</th>
            <th st-sort="scenario">Scenario</th>
            <th st-sort="description" class="description">Description</th>
            <th st-sort="triggeringValues">Triggering Values (USD)</th>
            <th st-sort="days">Days</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in myAlertDataDisplay track by $index">
            <td class="text-center">
                <input class="form-check-input custom-size" type="checkbox" ng-checked="checkAll" ng-model="$parent.conf[$index]"
                       ng-click="select($event,row,$index)"/>
            </td>
            <td><a ui-sref="myAlertInfo({id:'{{row.workObjId}}'})">{{row.alerts.alertId}}</a></td>
            <td>{{row.alerts.customerName}}</td>
            <td class="td-date">{{row.alerts.createdDate}}</td>
            <td>{{row.alerts.scenarioId}}</td>
            <td class="description">{{row.alerts.alertDesc}}</td>
            <td>{{row.alerts.totalAmt|currency}}</td>
            <td>{{row.alerts.days}}</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="15" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsBypage" st-displayed-pages="4"></div>

                </td>
            </tr>
        </tfoot>

    </table>

    <!--end of title -->

    <!-- total-->

    <div class="col-md-12">
        <lable>Total Amount:</lable>
        <span>{{getMyAlertTotal() | currency}}</span>
    </div>

    <div class="col-md-12 text-right">
        <button class="btn btn-primary" ng-click="clearSelect()">Reset</button>
        <button class="btn btn-primary">Create Case</button>
    </div>
</div>