<div class="container" app-controller="SuppressedAlertCtrl">
    <h3>Suppressed Alerts:</h3>
    <hr/>

    <!--  table part -->
    <table class="table table-striped table-bordered table-hover"
           st-table="dataDisplay" st-safe-src="data">
        <thead>
        <tr>
            <th>Select</th>
            <th>Alert ID</th>
            <th>Acct Number</th>
            <th>Cust Name</th>
            <th>Creat Date</th>
            <th>Scenario</th>
            <th>Description</th>
            <th>Triggering Values (USD)</th>
            <th>Status</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <!-- ng-repeat="row in dataDisplay"-->
        <tr>
            <td>Select</td>
            <td><a ui-sref="suppressedAlertInfo({id:'12345'})">12345</a></td>
            <td>Acct Number</td>
            <td>Cust Name</td>
            <td>Creat Date</td>
            <td>Scenario</td>
            <td>Description</td>
            <td>Triggering Values (USD)</td>
            <td>Status</td>
            <td>Age</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage"
                     st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>

    </table>

    <!--end of title -->

    <!-- total-->

    <div class="col-md-12">
        <lable>total:</lable>
        <span>someting</span>
    </div>

    <div class="col-md-12 text-right">
        <button class="btn btn-default">Clear Selected</button>
        <button class="btn btn-default">Assign to</button>
    </div>

</div>