<div class="container" ng-controller="SuppressedAlertCtrl">
    <h5>Suppressed Alerts:</h5>
    <hr/>

    <div class="search-condition">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Customer ID</label>
                    <div class="col-8">
                        <input class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Customer Name</label>
                    <div class="col-8">
                        <input class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Suppress Date</label>
                    <div class="col-8">
                        <input class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Scenario No</label>
                    <div class="col-8">
                        <input class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Scenario Desc</label>
                    <div class="col-8">
                        <input class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right"> Alert ID</label>
                    <div class="col-8">
                        <input class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Total Amount</label>
                    <div class="col-8">
                        <input class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-4 col-form-label text-right">Status</label>
                    <div class="col-8">
                        <label> <input name="status" type="radio"/> All</label>
                        <label> <input name="status" type="radio"/> Active </label>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="col-md-12 text-right">
        <button class="btn btn-default" ng-click="reset()">Reset</button>
        <button class="btn btn-default" ng-click="search()">Search</button>
    </div>

    <!--  table part -->
    <table class="table table-striped table-bordered table-hover"
           st-table="dataDisplay" st-safe-src="data">
        <thead>
        <tr>
            <th><input class="form-check-input custom-size" type="checkbox" ng-model="checkAll"
                       ng-click="all()"></input></th>
            <th st-sort="alertId">Alert ID</th>
            <th st-sort="accNumber">Acct Number</th>
            <th st-sort="custName">Cust Name</th>
            <th st-sort="createDate">Creat Date</th>
            <th st-sort="scenario">Scenario ID</th>
            <th st-sort="description" class="description">Description</th>
            <th st-sort="counterparty">Counterparty</th>
            <th st-sort="frequency">Frequency</th>
        </tr>
        </thead>
        <tbody>
        <!-- ng-repeat="row in dataDisplay"-->
        <tr ng-repeat="row in dataDisplay track by $index">
            <td><input class="form-check-input custom-size" type="checkbox" ng-checked="checkAll"
                       ng-model="$parent.conf[$index]" ng-click="select($event,row,$index)"></input></td>
            <td><a ui-sref="alertInfo({{row.alertId}})">{{row.alertId}}</a></td>
            <td>{{row.accNumber}}</td>
            <td>{{row.custName}}</td>
            <td class="td-date">{{row.createDate}}</td>
            <td>{{row.scenario}}</td>
            <td class="description">{{row.description}}</td>
            <td>{{row.counterparty}}</td>
            <td>{{row.frequency}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="10" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage"
                     st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>

    </table>

    <!--end of title -->

    <!-- total-->

    <div class="col-md-12">
        <lable>total:</lable>
        <span>$10000.00</span>
    </div>

    <div class="col-md-12 text-right">
        <button class="btn btn-primary" ng-click="export()">Export</button>
        <button class="btn btn-primary" ng-click="clearSelect()">Clear Selected</button>
        <button class="btn btn-primary" ng-click="remove()">Remove</button>
    </div>
    <div class="sepeartor"></div>

</div>